.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todolist {
  height: 300px;
  width: 250px;
  border: 2px solid black;
  padding: 24px;
  overflow-y: scroll;
}

.todoitem {
  padding: 18px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 12px;
  list-style: none;
}

.todoitem:hover {
  background-color: aquamarine;
  cursor: pointer;
}